.photos {
  width: 100%;
  height: auto;
  text-align: center;
  background-color: #ffffff;
}
.photos h3 {
  padding-top: 10px;
}
.image-container {
  overflow: hidden;
  padding: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.images {
  padding: 5px 5px;
}
.overlay {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: black;
  animation: slide-down 600ms ease-out normal;
}
.image-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: black;
}
.image-modal img {
  width: 100%;
  height: auto;
}
.photo-close-btn {
  font-size: 30px;
  position: absolute;
  top: 20px;
  right: 15px;
  color: rgb(255, 245, 245);
}
.photo-close-btn path {
  stroke: ghostwhite;
}

/* Media Queries */
@media only screen and (min-width: 600px) {
  .images img {
    width: 250px;
    max-height: 128px;
  }
}

@media only screen and (min-width: 768px) {
  .photos h3 {
    font-size: 18px;
  }
  .image-container {
    justify-content: center;
  }
  .images img {
    width: 300px;
    max-height: 153px;
  }
  .images:hover {
    transform: scale(1.04);
    transition: 0.5s;
  }
}

@media only screen and (min-width: 1024px) {
  .photos {
    width: 80%;
    margin: auto;
  }
  .photos h3 {
    font-size: 20px;
  }
  .image-container {
    justify-content: center;
  }
  .images img {
    width: 220px;
    height: 113px;
  }
}

@media only screen and (min-width: 1400px) {
  .image-container {
    justify-content: space-around;
  }
  .images img {
    width: 250px;
    height: 125px;
  }
}
