.about-section,
.scrolled-about-section {
  background-color: ghostwhite;
  color: black;
  width: 100%;
  height: auto;
  min-height: 100vh;
  overflow: hidden;
}
.about-section {
  margin-top: 86px;
}
.scrolled-about-section {
  margin-top: 0px;
}
.about-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px 0;
}
.about-menu {
  text-align: center;
  width: 100%;
  padding: 10px 0;
  font-size: 18px;
}
.links {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.links:hover {
  transform: scale(1.1);
  transition: 0.5s;
}
.active {
  color: orange;
}
.border {
  margin: 0 7px;
  border: 0.1px solid black;
  padding-bottom: 1px;
}

/* Media Queries */
@media only screen and (min-width: 768px) {
  .about-section {
    margin-top: 92px;
  }
}

@media only screen and (min-width: 1024px) {
  .about-section,
  .scrolled-about-section {
    width: 80%;
    margin: auto;
    margin-bottom: 10px;
  }
  .about-section {
    margin-top: 107px;
  }
}
