.donate-section,
.scrolled-donate-section {
  background-color: ghostwhite;
  color: black;
  width: 100%;
  height: auto;
  min-height: 100vh;
}
.donate-section {
  margin-top: 86px;
}
.scrolled-donate-section {
  margin-top: 0px;
}
.donate-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* Media Queries */
@media only screen and (min-width: 768px) {
  .donate-section {
    margin-top: 92px;
  }
}

@media only screen and (min-width: 1024px) {
  .donate-section,
  .scrolled-donate-section {
    width: 80%;
    margin: auto;
    margin-bottom: 10px;
  }
  .donate-section {
    margin-top: 107px;
  }
}
