.contact-form,
.scrolled-contact-form {
  background-color: ghostwhite;
  color: black;
  width: 100%;
  height: auto;
  min-height: 100vh;
}
.contact-form {
  margin-top: 86px;
}
.scrolled-contact-form {
  margin-top: 0px;
}
.contact-form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.form-title {
  padding: 20px 0;
  font-size: 18px;
  text-align: center;
  color: darkorange;
}
.form-content {
  text-align: center;
  padding-top: 20px;
  font-size: 16px;
  padding-left: 20px;
  padding-right: 20px;
}
.contact-email,
.contact-address {
  font-size: 16px;
}
.contact-email {
  padding-bottom: 5px;
}
.color-change {
  color: darkorange;
}
.success-message,
.error-message {
  margin-top: 25px;
  padding: 5px;
  border-radius: 10px;
}
.error-message {
  background-color: red;
  color: white;
}
.success-message {
  background-color: green;
  color: white;
}
.toggle-hidden {
  display: none;
}
.toggle-show {
  display: block;
}

/* Media Queries */
@media only screen and (min-width: 768px) {
  .contact-form {
    margin-top: 92px;
  }
  .contact-form-wrapper {
    height: auto;
    padding-bottom: 10px;
  }
  .form-content {
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .contact-email,
  .contact-address {
    font-size: 18px;
  }
  .form-title {
    padding-top: 30px;
    font-size: 20px;
    text-align: center;
    color: darkorange;
  }
  .form-content {
    width: 80%;
  }
}

@media only screen and (min-width: 1024px) {
  .contact-form,
  .scrolled-contact-form {
    width: 80%;
    margin: auto;
    margin-bottom: 10px;
  }
  .contact-form {
    margin-top: 107px;
  }
}
