.header,
.scrolled-header {
  width: 100%;
  height: auto;
  background-color: #ffffff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  overflow: hidden;
}
.header {
  position: fixed;
  z-index: 20;
  top: 0;
  transition-duration: 0.5s;
}
.scrolled-header {
  position: sticky;
  z-index: 20;
  transition-duration: 0.5s;
  top: 0;
}
.header-container {
  display: flex;
  justify-content: center;
  width: 100%;
}
.hamburger-menu {
  font-size: 35px;
  position: absolute;
  top: 25px;
  left: 10px;
  color: orange;
}
.logo {
  width: 90px;
  height: 85px;
}
.logo img {
  width: 100%;
  height: auto;
}

/* Media Queries */
@media only screen and (min-width: 768px) {
  .logo {
    width: 95px;
    height: 91px;
  }
  .header-container {
    width: 90%;
    margin: auto;
  }
}

@media only screen and (min-width: 1024px) {
  .header,
  .scrolled-header {
    height: 96px;
  }
  .logo img {
    width: 100px;
  }
  .header-container {
    width: 80%;
    margin: 0 10%;
    justify-content: space-between;
  }
  .hamburger-menu {
    display: none;
  }
}
