.events {
  height: 100%;
  width: 100%;
  position: relative;
  padding-bottom: 10px;
  overflow: hidden;
}
.events img {
  width: 100%;
  height: 100%;
  display: block;
}
.arrow-left,
.arrow-right {
  font-size: 40px;
  position: absolute;
  color: black;
  opacity: 0.4;
}
.arrow-left {
  top: 50%;
  left: 10px;
}
.arrow-right {
  top: 50%;
  right: 10px;
}

/* Media Queries */
@media only screen and (min-width: 600px) {
  .events {
    width: 80%;
  }
}

@media only screen and (min-width: 768px) {
  .events {
    height: 450px;
    width: 425px;
    padding-bottom: 0px;
  }
}

@media only screen and (min-width: 1024px) {
  .events {
    height: 445px;
    width: 540px;
  }
}

@media only screen and (min-width: 1400px) {
  .events {
    min-width: 600px;
  }
}
