.prayer-times {
  width: 100%;
  height: auto;
  text-align: center;
  background-color: darkorange;
  color: #ffffff;
  padding: 10px 0;
}
.prayer-table {
  width: auto;
  height: auto;
  margin: auto;
}
.day {
  padding: 5px 0;
}
.table-row td {
  font-weight: bold;
}
td {
  padding: 5px 0;
}
.jummah-prayer {
  text-align: center;
  font-weight: bold;
  padding-top: 5px;
}
.download-prayer-times {
  padding-top: 5px;
  font-weight: bold;
}
.download-logo {
  font-size: 17px;
  vertical-align: middle;
}
