* {
  margin: 0;
  padding: 0;
}
.footer {
  text-align: center;
  padding: 10px 0px;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  background-color: #eeeeee;
  color: darkorange;
}
.footer-copyright {
  font-size: 14px;
}
